body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #282d35;
  overflow-x: hidden;
}

.navbar {
  background: #21222A;
  height: 91px;
  margin: 0;

}

.navbar img {
  position: absolute;
  width: 28.93px;
  height: 28.93px;
  left: 26px;
  top: 31px;
}

.navbar h3 {
  position: absolute;
  width: 122.39px;
  height: 22.25px;
  left: 69.61px;
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61DAFB;
}

.navbar h2 {
  position: absolute;
  top: 24px;
  right: 20px;
  color: #DEEBF8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 19px;
}

.main-page h1 {
  padding: 57px 27px 0px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;

  color: #FFFFFF;
}

.main-page ul li:before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61DAFB;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  margin-left: -20.5px;
}

.list-un {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 59px;
  color: #FFFFFF;
  margin-left: 20px;
}

.react-large-icon {
  position: absolute;
  height: 403px;
  width: 403px;
  opacity: 0.3;
  right: -210px;
  top: 198px;
}